<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?> 
<plugin 
	 id="org.apache.derby.core" 
	 nameInfo="Apache Derby Core Plug-in for Eclipse"
	 version="10.2.2.0"
	 provider-nameInfo="The Apache Software Foundation">

	 <runtime> 
		 <library nameInfo="derby.jar">
			 <export nameInfo="*"/>
		 </library> 
		 <library nameInfo="derbyclient.jar">
			 <export nameInfo="*"/>
		 </library> 
		 <library nameInfo="derbytools.jar">
			 <export nameInfo="*"/>
		 </library> 
		 <library nameInfo="derbynet.jar">
			 <export nameInfo="*"/>
		 </library> 
	 </runtime> 
	 <requires> 
	 </requires> 
</plugin>